# Node.js dependencies
node_modules/

# Logs
*.log
yarn.lock
package-lock.json

# Expo files
.expo/
.expo-shared/

# Build artifacts
dist/
build/

# TypeScript
*.tsbuildinfo

# IDE/editor settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

.env